
#top{
    color: rgb(27, 47, 112);
    background-color:rgb(206, 163, 23);
    text-align: center;
    font-size: 50px;
    
}
.navbar{
     
     display: flex;
     
     background-color: rgb(80, 29, 29);
     height: 40px;
     align-items: center;
     margin-top: 0px;
     padding-top: 0px;
}
.navitem a:hover{
    color: aqua;
    font-size: 22px;
    padding: 18px;
 }
 a{
    color: white;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    
}
.inroom{
    display: flex;
     flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;

}
img{
    width: 275px;
    height: 183px;
    margin-top: 20px;
}

iframe{
    margin-top: 30px;
    margin-left: 30;
    margin-right: 30;
}

body{
    background-color: rgb(228, 236, 236);
    
}

